<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <div class="text-center" style="padding: 30px; margin: 30px; ">

        <h2 class="text-center text-success">THE SEARCH RESULTS</h2>
        <hr>
        <% diseases.forEach((index)=>{ %>
        <h2 class="text-center text-primary"><ins><%=index.title%></ins> disease</h2>
        <hr>
        <h3 class="text-center text-danger">The Syndromes</h3>
        <hr>
        <% index.syndromes.forEach((index)=>{ %>
        <h4><%=index.syndrome%></h4>
        <% }) %>
        <hr>
        <% }) %>
        <hr>
        <% diseases.forEach((index)=>{ %>
        <h3 class="text-center text-primary">The Recomended Treatment</h3>
        <hr>
        <% index.treatments.forEach((index)=>{ %>
        <h4><%=index.treatment%></h4>
        <% }) %>
        <hr>
        <% }) %>


    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>