<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    
    <div class="text-center" style="padding: 100px; margin: 100px; ">
        <h3>Enter Your Updates For Disease</h3>
        <form method="POST" action="">
            <div class="modal-body">
                <input placeholder="Enter Updates" class="form=control" name="title" type="text" style="width: 50%;"
                    required>
                    <input type="submit" class="btn btn-primary" value="Save Changes">
            </div>
        </form>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>